<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <script src="./vue.js"></script>
    <style>
      th,
      td {
        width: 200px;
        text-align: center;
      }
      #box {
        width: 700px;
        margin: auto;
        text-align: center;
      }
      input {
        width: 100px;
        border: none;
        outline: none;
      }
      .form-container {
        width: 200px;
        height: 100px;
        padding: 20px;
        border-radius: 10px;
        background-color: pink;
        text-align: center;
        position: absolute;
        top: 10%;
        left: 40%;
      }
      button {
        background-color: rgb(235, 133, 145);
        border: 1px solid rgb(236, 165, 173);
      }
    </style>
  </head>
  <body>
    <div id="box">
      <button style="width: 100px; height: 50px; margin: 30px" @click="tx">
        添加按钮
      </button>
      <div>
        <!-- 添加表单 -->
        <div class="form-container" v-if="top">
          <span>{{topItem.id}}:</span>
          <input v-model="newItem.id" type="text" /><br /><br />
          <span>{{topItem.name}}:</span>
          <input v-model="newItem.name" type="text" /><br /><br />
          <button @click="addItem">{{txs}}</button>
        </div>
        <!-- 表格 -->
        <table border="1" cellspacing="0">
          <thead>
            <tr>
              <th>{{topItem.id}}</th>
              <th>{{topItem.name}}</th>
              <th>{{topItem.cz}}</th>
            </tr>
          </thead>
          <tbody>
            <!-- 循环渲染表格行 -->
            <tr v-for="(item, index) in items" :key="index">
              <td>{{ item.id }}</td>
              <td>{{ item.name }}</td>

              <td>
                <!-- 编辑按钮 -->
                <button @click="editItem(index)">编辑</button>
                <!-- 删除按钮 -->
                <button @click="deleteItem(index)">删除</button>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
    <script>
      let i = 1;
      new Vue({
        el: "#box",

        data() {
          return {
            txs: "添加",
            top: false,
            ss: "ID",
            message: "汽车",
            cz: "操作",

            //表头数据
            topItem: {
              id: "id",
              name: "汽车",
              cz: "操作",
            },
            // 表格数据
            items: [
              { id: i++, name: "BMW" },
              { id: i++, name: "奥迪" },
              { id: i++, name: "奔驰" },
            ],
            // 新对象和当前编辑索引
            newItem: {
              id: i,
              name: "",
            },
            editIndex: -1,
          };
        },
        methods: {
          // 添加或编辑
          tx() {
            this.top = !this.top;
            this.newItem.id = i++;
            this.newItem.name = "";
            this.txs = "添加";
            this.editIndex = -1;
          },
          addItem() {
            console.log(this.editIndex);
            if (this.newItem.id && this.newItem.name) {
              this.top = !this.top;

              if (this.editIndex > -1) {
                // 编辑模式，更新对应索引的
                this.items[this.editIndex] = { ...this.newItem };
              } else {
                // 添加模式，将新推入数组
                this.items.push({ ...this.newItem });
              }
              this.newItem.name = ""; // 清空表单数据和编辑状态
            } else {
              alert("请添加字段"); // 提示填写所有字段
            }
          },
          // 编辑
          editItem(index) {
            this.top = !this.top;
            this.newItem = { ...this.items[index] };
            this.editIndex = index;
            this.txs = "修改";
            clearForm();
          },
          // 删除条目
          deleteItem(index) {
            if (confirm("确定删除嘛？")) {
              this.items.splice(index, 1);
              this.clearForm(); // 清空表单数据和编辑状态
            }
          },
          // 清空表单数据和编辑状态
          clearForm() {
            this.newItem = {
              id: "",
              name: "",
            };
            this.editIndex = -1;
          },
        },
      });
    </script>
  </body>
</html>
